/* general styling + index */
@font-face {
  font-family: Roboto-Thin;
  src: url(./app/assets/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./app/assets/Roboto-Light.ttf);
}

* {
  font-family: Roboto-Light;
}

body {
  background-color: #d5d5d5;
}

.content-wrapper {
  width: 60%;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* navigation bar */
.logo {
  padding-left: 10px;
  font-family: Roboto-Thin;
  font-size: 30px;
  color: #35fff5;
}

.nav-wrapper {
  background-color: #ed715c;
  font-family: Roboto-Thin;
  font-size: 20px;
  color: red;
}

#nav-mobile > li > a {
  font-family: Roboto-Thin;
  color: #fff;
}

#nav-mobile > li > a:hover {
    color: #35fff5;
} 

/* allprojects */
.openprojects-header {
  font-family: Roboto-Thin;
  font-size: 30px;
}

.form-wrapper {
  padding: 0;
}

#form {
  font-size: 14px;
  width: auto;
  display: inline-block;
}

.allprojects-wrapper {
  display: center;
}

/* login */
.login {
  background-color: #fff;
  margin: auto;
  width: 40%;
  padding: 2%;
}

.github {
  padding: 2%;
}

.joingithub {
  padding: 2%;
}

.joingithublink {
  color: teal;
}

/* dashboard */
.dashboard-header {
  font-family: Roboto-Thin;
  font-size: 30px;
}

/* help */
.help-header {
  font-family: Roboto-Thin;
  font-size: 30px;
}