<div class="page-header text-center">
  <h2>start a new project!</h2>
</div>

<div id='container'>
	<select ng-model="">
		<option value="" disabled selected>what project idea appeals to you?</option>
		<option value="volvo">To-do app</option>
	</select><br>

	<select ng-model="">
		<option value="" disabled selected>which framework are you interested in learning?</option>
		<option value="volvo">Angular</option>
	</select><br>

	<select ng-model="">
		<option value="" disabled selected>what kind of timeframe are we looking at?</option>
		<option value="volvo">2 days</option>
	</select>     

  <button type="submit" class="btn-create">start</button>
</div>