<div class="openprojects-header" align="center">OPEN PROJECTS</div>

<div class="input-field" align="center">

  <select class="prompt" ng-model="promptSelect" ng-options="prompt.id for prompt in prompts">
    <option value="">Create your own project?</option>
  </select>


 <!--  <select class="prompt" id="form" ng-model="promptSelect">
    <option value="" disabled selected>create your own project?</option>
    <option ng-repeat="prompt in prompts">{{prompt.name}}</option>`
  </select> -->

  <select class="framework" id="form" ng-model="frameworkSelect">
    <option value="" disabled selected>pick a framework</option>
    <option ng-repeat="framework in frameworks">{{framework.name}}</option>
  </select>

  <select class="duration" id="form" ng-model="durationSelect">
    <option value="" disabled selected>for how long?</option>
    <option ng-repeat="duration in durations">{{duration}}</option>
  </select>
  <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="submit()">
    <i class="material-icons">done</i>
  </button>
</div>

<div class="allprojects-wrapper" >
  <ul class="collection">
    <li class="collection-item avatar" ng-repeat="resource in results">
      <img  ng-src={{resource.img}} alt="" class="circle" >
      <span class="title">{{resource.prompts}}</span>
      <p>{{resource.framework}} <br>
         {{resource.time}}
      </p>
      <button ui-sref="app.dashboard" ng-disabled="!loggedin" class='waves-effect waves-circle waves-light btn-floating secondary-content'><i class="small material-icons">chevron_right</i></button>
    </li>
  </ul>
</div>


