<div id='container'>
  <div class='row'>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="page-header text-center">
        <h2>start a new project!</h2>
      </div>
      <form id="signup-form" name='createJobs' ng-submit="processForm()">
<!--         <div class="form-group">
          <input type="text" class="form-control" name="title" ng-model="formData.title" placeholder="which project idea appeals to you?">
        </div> -->
		<select name="cars" placeholder="cars">
			<option value="" disabled selected>what project idea appeals to you?</option>
			<option value="volvo">Volvo</option>
		</select><br>

<!--         <div class="form-group">
          <textarea name="description" rows="5" cols="80" ng-model='formData.description' placeholder="which framework are you interested in learning?"></textarea>
        </div> -->
		<select name="cars" placeholder="cars">
			<option value="" disabled selected>which framework are you interested in learning?</option>
			<option value="volvo">Volvo</option>
		</select><br>

<!--         <div class="form-group">
          <input type="text" class="form-control" name="skills" ng-model="formData.skill1" placeholder="what kind of timeframe are we looking at?">
        </div> -->
		<select name="cars" placeholder="cars">
			<option value="" disabled selected>what kind of timeframe are we looking at?</option>
			<option value="volvo">Volvo</option>
		</select>     

        <div class="text-center">
          <button type="submit" class="btn btn-danger">start</button>
        </div>


      </form>

    </div>
  </div>
</div>